In [1]:
# Import dependencies
import requests
import json
import pandas as pd
import time

from pprint import pprint
from api_key import api_key

In [2]:
# URL and API Key strings for requests
url = "http://www.omdbapi.com/?i="
api_key = "&apikey=" + api_key

In [3]:
cleaned_movies = pd.read_csv('Resources/cleaned_movies.csv')
cleaned_movies.head()

   movieId                               title     imdbId
0        1                    Toy Story (1995)  tt0114709
1        2                      Jumanji (1995)  tt0113497
2        3             Grumpier Old Men (1995)  tt0113228
3        4            Waiting to Exhale (1995)  tt0114885
4        5  Father of the Bride Part II (1995)  tt0113041

In [ ]:
# Empty lists to hold response info
imdb_id = []
title = []
year = []
runtime = []
genre = []
rated = []
language = []
country = []
awards = []
ratings = []
metascore = []
imdb_rating = []
box_office = []
counter = 0

# For loop to append response results for each movie in our csv file
for id in cleaned_movies['imdbId']:
    try:
        response = requests.get(url + id + api_key).json()
        imdb_id.append(response['imdbID'])
        title.append(response['Title'])
        year.append(response['Year'])
        runtime.append(response['Runtime'])
        genre.append(response['Genre'])
        rated.append(response['Rated'])
        language.append(response['Language'])
        country.append(response['Country'])
        awards.append(response['Awards'])
        ratings.append(response['Ratings'])
        metascore.append(response['Metascore'])
        imdb_rating.append(response['imdbRating'])
        box_office.append(response['BoxOffice'])
        counter += 1
        print(f'Processed record: {counter}')
    except:
        print(f'Record missing key information. Appending N/A to column...')
        imdb_id.append('N/A')
        title.append('N/A')
        year.append('N/A')
        runtime.append('N/A')
        genre.append('N/A')
        rated.append('N/A')
        language.append('N/A')
        country.append('N/A')
        awards.append('N/A')
        ratings.append('N/A')
        metascore.append('N/A')
        imdb_rating.append('N/A')
        box_office.append('N/A')
    
print(f'The total number of records found was: {counter}')

In [38]:
len(imdb_id), len(title), len(year), len(runtime), len(genre), len(rated), len(language),len(country), len(awards), len(ratings), len(metascore), len(imdb_rating), len(box_office)

(57209,
 57209,
 57209,
 57209,
 57209,
 57209,
 57209,
 57209,
 57209,
 57209,
 57209,
 57209,
 57210)

In [39]:
#Put the API response into a DataFrame
api_data = pd.DataFrame({
    'IMDbID': imdb_id,
    'Title': title,
    'Year': year,
    'Runtime': runtime,
    'Genre': genre,
    'Rated': rated,
    'Language': language,
    'Country': country,
    'Awards': awards,
    'Ratings': ratings,
    'Metascore': metascore,
    'IMDb_Rating': imdb_rating,
    'Box_Office': box_office
})

ValueError: All arrays must be of the same length

In [19]:
api_data.to_csv('Resources/api_data.csv')

In [20]:
api_data

,IMDbID,Title,Year,Runtime,Genre,Rated,Language,Country,Awards,Ratings,Metascore,IMDb_Rating,Box_Office
0,tt0114709,Toy Story,1995,81 min,"Animation, Adventure, Comedy",G,English,United States,Nominated for 3 Oscars. 27 wins & 23 nominatio...,"[{'Source': 'Internet Movie Database', 'Value'...",95,8.3,"$223,225,679"
1,tt0113497,Jumanji,1995,104 min,"Adventure, Comedy, Family",PG,"English, French",United States,4 wins & 11 nominations,"[{'Source': 'Internet Movie Database', 'Value'...",39,7.0,"$100,499,940"
2,tt0113228,Grumpier Old Men,1995,101 min,"Comedy, Romance",PG-13,"English, Italian, German",United States,2 wins & 2 nominations,"[{'Source': 'Internet Movie Database', 'Value'...",46,6.6,"$71,518,503"
3,tt0114885,Waiting to Exhale,1995,124 min,"Comedy, Drama, Romance",R,English,United States,9 wins & 10 nominations,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,5.9,"$67,052,156"
4,tt0113041,Father of the Bride Part II,1995,106 min,"Comedy, Family, Romance",PG,English,United States,1 win & 2 nominations,"[{'Source': 'Internet Movie Database', 'Value'...",49,6.0,"$76,594,107"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57205,tt0459449,M. Kumaran S/O Mahalakshmi,2004,166 min,"Action, Drama, Sport",Not Rated,Tamil,India,2 wins & 3 nominations,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,7.2,N/A
57206,tt0485486,Something Something... Unnakum Ennakum,2006,178 min,Romance,Not Rated,Tamil,India,1 win,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,6.9,N/A
57207,tt1606183,Boss Engira Baskaran,2010,161 min,Comedy,Not Rated,Tamil,India,3 wins & 4 nominations,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,7.2,N/A
57208,tt5339432,Metamorphosis,2015,103 min,Drama,N/A,Russian,Russia,1 nomination,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,6.0,N/A
57209,tt1537032,Kanthaswamy,2009,190 min,"Action, Adventure, Crime",Not Rated,"Tamil, Telugu",India,1 win & 11 nominations,"[{'Source': 'Internet Movie Database', 'Value'...",N/A,5.0,N/A

In [33]:
try:
    response = requests.get(url + 'tt1754787' + api_key).json()
    response['BoxOffice']
except Exception as e:
    print(e)